{% extends 'security/layout.html.twig' %}

{% block main %}
    {% if form is defined %}
        {{ include('security/_company_icon.html.twig') }}

        <h2 class="mt-4 text-2xl/9 font-bold tracking-tight">{{ 'login.title'|trans }}</h2>

        {% if registration_enabled %}
            <p class="mt-4 text-sm/6">
                {{ 'login.no_account'|trans }}
                <a href="{{ path('register') }}" class="link link-hover link-accent">
                    {{ 'login.create_account'|trans }}
                </a>
            </p>
        {% endif %}

        <!-- Login with email link -->
        {{ form_start(form, {attr: {class: 'space-y-6 mt-4'}}) }}
        <div>
            <div class="mt-2">
                <label class="floating-label">
                    <span>{{ 'label.email'|trans }}</span>
                    {{ form_widget(form.email, {attr: {class: 'input w-full'}}) }}
                    {{ form_errors(form.email) }}
                </label>
            </div>
        </div>

        <div class="mb-4">
            <button type="submit" class="btn btn-primary w-full">
                {{ 'request_login_link.button'|trans }}
            </button>
        </div>
        {{ form_end(form) }}
    {% else %}
        <div class="py-10">
            <div class="mx-auto flex size-20 items-center justify-center rounded-full bg-green-100">
                <svg class="size-12 text-green-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
                </svg>
            </div>

            <p class="m-8 text-gray-500">{{ 'login.link_sent_validity'|trans }}</p>
        </div>
    {% endif %}

    {{ include('security/_oauth_clients.html.twig') }}
{% endblock %}
